---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Form from '../components/Form.tsx';
---

<Layout title="tickets">
	<Header title="Compra de boletos UTM" />
	<Form/>
	<main class="bg-green-500 text-3xl">
	</main>
</Layout>
