---
import Layout from "../layouts/Layout.astro";
import PrincipalButton from "../components/PrincipalButton.astro";
import { TicketIcon, CurrencyDollarIcon } from "@heroicons/react/24/outline";
---

<Layout title="tickets">
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
		<PrincipalButton href="purchase">
			<CurrencyDollarIcon className="" />
				Compra de boletos
		</PrincipalButton>
		<PrincipalButton href="view_purchases">
			<TicketIcon className="" />
				Boletos comprados
		</PrincipalButton>
	</div>
</Layout>
