---
import RegisterForm from '../components/RegisterForm';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Registro">
  <section class="h-screen w-screen flex justify-center items-center">
    <div class="w-full max-w-lg">
      <h1 class="my-2 text-3xl font-medium text-center">Bus Ticket Elite</h1>
      <RegisterForm client:load/>
    </div>
  </section>
</Layout>