---
import Layout from "../layouts/Layout.astro";
import PurchasedTickets from "../components/ViewPurchases";
---

<Layout title="Boletos comprados">
    <div class="flex flex-col gap-4">
        <PurchasedTickets client:load></PurchasedTickets>
    </div>
</Layout>