---
import ProfileMenu from '../components/ProfileMenu'
import checkUser from '../components/checkUser'

import { Image } from 'astro:assets';
import banner from '../images/UtmLogo.png';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-gray-800 bg-secondary flex flex-col h-screen">
		<header class="w-full flex justify-center bg-primary-hover py-10">
			<picture class="w-full max-w-[500px] h-auto flex items-center justify-center px-10">
				<Image class="w-full h-auto object-cover" src={banner} alt="Banner Ut Matamoros"/>
			</picture>
		</header>
		<ProfileMenu client:load/>
		<div class="flex-1 flex justify-center items-center p-10">
			<slot />
		</div>
	</body>
</html>
  